@font-face {
  font-family: "Lato";
  src:  url('698242188-Lato-Bla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
}

hr {
  height: 3px;
  background-color: #2DC8BE;
}